<!DOCTYPE html>
<html>
  <head>
    <title><%= @titre %></title>
    <%= csrf_meta_tag %>
    <link href="/stylesheets/blueprint/style.css" rel='stylesheet' type='text/css' />
  </head>
  <body>
    <ul class="navBar">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
    <%= yield %>
  </body>
<<<<<<< HEAD
  <div id="footer">
      <ul class="navBar">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
  </div>
=======
  <footer>
	<p>Developed by Francois ROSSITTO, Alexandre NAPOLI and Hamza MOUNAH</p>
  </footer>
>>>>>>> a577083f887b29f214753cd84cc5ffcfb4461c03
</html>
