<!DOCTYPE html>
<html>
  <head>
    <title><%= @titre %></title>
    <%= csrf_meta_tag %>
    <link href="/stylesheets/blueprint/style.css" rel='stylesheet' type='text/css' />
  </head>
  <body>
    <ul class="navBar">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "About", '#' %></li>
          </ul>
    <%= yield %>
  </body>
  <footer>
	<p>Developed by Francois ROSSITTO, Alexandre NAPOLI and Hamza MOUNAH</p>
  </footer>
</html>
